@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   background-color: var(--fourth-color);
}

:root{
    --main-color:#211C84;
    --second-color:#7A73D1;
    --third-color:#B5A8D5;
    --fourth-color:#d91698;
    --white:#EBF4F6;
    --gray:gray;
    --black:black;
}

.img-slider{
    width: 100%;/*unidades relativas cuando trbajo con porcentaje*/
    height: 600px;/*Unidades absolutas*/
}

.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.servicios .card {
    border: 2px solid var(--second-color);
    padding: 30px;
    border-radius: 15px;
}

.img-servicios{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.card h3{
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

div{
    background-color: var(--second-color);
}

.servicios .card:hover{
    background-color: var(--third-color);
}

.card p{
    color: var(---black);
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

.servicios .card a {  
    text-decoration: none;  
    color: inherit; 
}

.contacto{
    display: grid;
    grid-template-columns: auto auto ;
    background-color: var(--third-color);
}

.contacto article{
    padding: 50px;
}

label{
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
}

input[type="text"], [type="email"], textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

input[type="submit"]{
    background-color: var(--main-color);
    width: 100%;
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}